* {
    font-family: 'Roboto', sans-serif;
}

img.logo {
    max-width: 90px;
    max-height: 90px;
    padding-top: 20px;
}

h1,h2 {
    text-align: right;
}

h1.name {
    font-weight: 100;
    text-transform: uppercase;
}

@media screen and (max-width: 515px) {
    h1 {
        font-size: 1.5em;
    }
}

h2.title {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
}

img.float {
    float: left;
    margin: 10px;
}

h3 {
    text-align: center;
}

h3.work {
    
    font-weight: 300;
}

@media screen and (max-width: 533px) {
    h3 {
        font-size: 1.5em;
    }
}

h4.title {
    text-align: center;
    text-transform: uppercase;
}

h5.link {
    font-weight: 100;
    text-align: center !important;
}